body {
  background-color: #282c34;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
